PLANTAOPRO_JWT_KEY=CHANGE_ME_LOCAL_DEV_JWT_KEY_32_CHARS_MINIMUM
PLANTAOPRO_JWT_ISSUER=PlantaoPro
PLANTAOPRO_JWT_AUDIENCE=PlantaoPro
PLANTAOPRO_POSTGRES_DB=plantaopro
PLANTAOPRO_POSTGRES_USER=postgres
PLANTAOPRO_POSTGRES_PASSWORD=CHANGE_ME_LOCAL_POSTGRES
PLANTAOPRO_POSTGRES_PORT=5432
