<footer class="app-footer"><span>PlantãoPro SaaS • v@(System.Reflection.Assembly.GetEntryAssembly()?.GetName().Version?.ToString() ?? "dev")</span><span>LGPD e segurança por padrão</span><span>Powered by MNSOFT</span></footer>
