@{
    var planName = User.FindFirst("plano")?.Value ?? "Profissional";
}
<span class="plan-usage-mini d-none d-lg-inline-flex"><i class="bi bi-speedometer2"></i><span>@planName</span><small>uso saudável</small></span>
