@{
    var tenantName = User.FindFirst("cliente")?.Value ?? User.FindFirst("tenant")?.Value ?? "Tenant demonstração";
    var isGlobalAdmin = User.IsInRole("ADMINISTRADOR_GLOBAL");
}
<span class="tenant-context-badge d-none d-lg-inline-flex"><i class="bi bi-building"></i><span>@tenantName</span>@if (isGlobalAdmin){<small>troca de contexto</small>}</span>
