<div class="user-pill"><div class="user-avatar"><i class="bi bi-person"></i></div><div class="user-info"><span class="user-name">@User.Identity?.Name</span><small>@User.FindFirst("primary_role")?.Value</small></div></div>
