<!doctype html><html lang="pt-br"><head><meta charset="utf-8"><meta name="viewport" content="width=device-width,initial-scale=1"><title>BarberSync</title><link rel="stylesheet" href="/css/public-design-system.css" asp-append-version="true"></head><body>@RenderBody()<div id="toast-region"></div><script src="/js/public.js" asp-append-version="true"></script></body></html>
