@model PlantaoPro.Web.Models.DetailsPageViewModel<PlantaoPro.Web.Models.EspecialidadeDto>
<h2>Detalhes</h2>
@if (Model?.IsPlaceholder == true)
{<div class="alert alert-info">Detalhamento em preparação.</div>}
else
{<pre>@System.Text.Json.JsonSerializer.Serialize(Model?.Data)</pre>}
