<html><head><link rel="stylesheet" href="/css/custom.css"></head><body><div class="login-card"><h1>PlantãoPro</h1><form><input placeholder="Email"/><input placeholder="Senha" type="password"/><button>Entrar</button></form></div></body></html>
