<header class="topbar"><div><strong>BarberSync SaaS Platform Demo 10.0</strong><span>Admin enterprise integrado</span></div><a class="ghost" href="http://localhost:8082/">PublicWeb</a><a class="ghost" href="http://localhost:8083/Kiosk/Services">Totem</a></header>
